\documentclass[ignorenonframetext]{beamer}
\usepackage[utf8]{inputenc}

\usetheme{Hannover}
\usecolortheme{whale}

\setbeamertemplate{navigation symbols}{}
\setbeamertemplate{enumerate items}[default]

\providecommand{\tightlist}{\setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}

\input{brewer.tex}
\newcommand{\myemph}[1]{{\color{dark27c1}\bf #1}}
\newcommand{\myemphh}[1]{{\color{dark27c2}\bf #1}}
\newcommand{\myemphhh}[1]{{\color{dark27c3}\bf #1}}
\newcommand{\myemphhhh}[1]{{\color{dark27c4}\bf #1}}
\newcommand{\myemphhhhh}[1]{{\color{dark27c5}\bf #1}}
\newcommand{\myemphhhhhh}[1]{{\color{dark27c6}\bf #1}}
\newcommand{\myemphhhhhhh}[1]{{\color{dark27c7}\bf #1}}
\renewcommand{\emph}{\myemphhhhhhh}


\title{CV of (((name)))}
\author{}
\date{lpenz@lpenz.org}


\begin{document}

\begin{frame}
    \maketitle
\end{frame}

\begin{frame}
    \tableofcontents
\end{frame}


\section{Contact}

\begin{frame}{Contact information}
    Email: \hfill \href{mailto:(((email)))}{(((email)))} \\
    Phone: \hfill (((phone))) \\
    Homepage: \hfill \url{(((homepage)))} \\
    Lattes CV: \hfill \url{(((lattes)))} \\
    Stackoverflow CV: \hfill \url{(((stackoverflow)))}
\end{frame}


\section{About me}

\begin{frame}[allowframebreaks]{About me}
    (((aboutme | markdown | regex('\n\n', '\n\n\\\\vspace{0.3cm}'))))
\end{frame}


\section{Experience}

((* for p in professional *))

\subsection{(((p.job)))}
\begin{frame}{(((p.job)))}
    \myemph{(((p.place)))}

    \myemphh{(((p.job)))} \\
    \hfill \myemphhh{(((p.period)))}

    (((p.description | markdown)))
\end{frame}

((* endfor *))


\section{Education}

((* for e in education *))

\subsection{(((e.course)))}
\begin{frame}{(((e.course)))}
    \myemph{(((e.place)))}

    \myemphh{(((e.course)))} \\
    \hfill \myemphhh{(((e.period)))}

    (((e.description | markdown)))
\end{frame}

((* endfor *))


\section{Languages}

\begin{frame}{Languages}
    \begin{tabular}{rl}
        ((* for l in languages *))
        \myemphhhhh{(((l.lang))):}&\myemphhhhhhh{(((l.skill)))}\\
        ((* endfor *))
    \end{tabular}
\end{frame}


\section{Misc}

\begin{frame}[allowframebreaks]{Random anecdotes}
    (((random | markdown)))
\end{frame}


\end{document}

% vim: ft=tex.jinja
