%% Based on file `template.tex'.
%% Copyright 2006-2013 Xavier Danaux (xdanaux@gmail.com).
%
% This work may be distributed and/or modified under the
% conditions of the LaTeX Project Public License version 1.3c,
% available at http://www.latex-project.org/lppl/.


\documentclass[11pt,a4paper,sans]{moderncv}
% possible options include font size ('10pt', '11pt' and '12pt'), paper size ('a4paper', 'letterpaper', 'a5paper', 'legalpaper', 'executivepaper' and 'landscape') and font family ('sans' and 'roman')

\moderncvstyle{classic} % style options are 'casual' (default), 'classic', 'oldstyle' and 'banking'
\moderncvcolor{green} % color options 'blue' (default), 'orange', 'green', 'red', 'purple', 'grey' and 'black'

%\providecommand{\tightlist}{\setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}
\providecommand{\tightlist}{}
%\renewcommand{\familydefault}{\sfdefault} % to set the default font; use '\sfdefault' for the default sans serif font, '\rmdefault' for the default roman one, or any tex font name

\usepackage[utf8]{inputenc}

% adjust the page margins
\usepackage[scale=0.75]{geometry}
%\setlength{\hintscolumnwidth}{3cm}                % if you want to change the width of the column with the dates
%\setlength{\makecvtitlenamewidth}{10cm}           % for the 'classic' style, if you want to force the width allocated to your name and avoid line breaks. be careful though, the length is normally calculated to avoid any overlap with your personal info; use this at your own typographical risks...

% personal data
\name{(((name)))}{}
%\title{Resumé title}                               % optional, remove / comment the line if not wanted
%\address{street}{zip, city}{country}
\email{(((email)))}
((* if phone *))
\phone[mobile]{(((phone)))}
((* endif *))
\homepage{(((homepage)))}
\social[linkedin]{(((user)))}
\social[github]{(((user)))}
\social[twitter][www.twitter.com/(((user)))]{(((user)))}

%\extrainfo{additional information}
%\photo[64pt][0.4pt]{lpenz.png}
%\quote{Some quote}

\begin{document}

\makecvtitle

\section{About me}

(((aboutme | markdown | regex('\\n\\n', '\n\n\\\\vspace{1em}\n') )))

\clearpage

\section{Experience}

((* for p in professional *))
\cventry{(((p.period)))}{(((p.job)))}{(((p.place)))}{}{}{(((p.description | markdown | regex('\\n',' %\\n') )))}
((* endfor *))

\clearpage

\section{Education}

((* for e in education *))
\cventry{(((e.period)))}{(((e.course)))}{(((e.place)))}{}{}{(((e.description | markdown | regex('\\n',' %\\n') )))}
((* endfor *))


\section{Other courses}

((* for c in courses *))
\cventry{(((c.period)))}{(((c.course)))}{(((c.place)))}{}{Course load: (((c.load)))}{(((c.description | markdown | regex('\\n',' %\\n') )))}
((* endfor *))


\section{Languages}

((* for l in languages *))
\cvitemwithcomment{(((l.lang)))}{(((l.skill)))}{}
((* endfor *))

\clearpage

\section{Random achievements and anecdotes}
((* for r in random *))
\cvlistitem{(((r | markdown)))}
((* endfor *))


\end{document}

% vim: ft=tex.jinja
