# (((name)))'s Resume

## Contact information

-----             -----
Email:      [(((email)))](mailto:(((email))))
LinkedIn:   [(((linkedin)))]( (((linkedin))) )
GitHub:     [(((github)))]( (((github))) )
Twitter:    [(((twitter)))]( (((twitter))) )
Hackerrank: [(((hackerrank)))]( (((hackerrank))) )
-----             -----

## About me

(((aboutme)))
## Experience
((* for p in professional *))
### *(((p.position)))* --- (((p.company))), (((p.period)))

(((p.description)))
**Achievements / Tasks:**
((* for i in p.achievements *))
* (((i.item)))((* endfor *))
((* endfor *))
## Education
((* for e in education *))
### (((e.title))), *(((e.period)))*

**University:** (((e.university)))
**Institute:** (((e.institute)))((* if e.theme *))
**Theme**: (((e.theme)))
((* endif *))((* endfor *))

## Certifications
((* for c in certification *))
### **(((c.course)))** --- (((c.school))), (((c.period)))

Load: (((c.load)))
Certificate: [(((c.course)))]( (((c.credential))) )
((* endfor *))
## Languages
((* for l in language *))
* *(((l.lang)))*: (((l.skill)))((* endfor *))

## Skills
((* for s in technical_skills *))
* *(((s.skill)))*((* endfor *))

